.base {
    display: flex;
    position: absolute;
    top: 2rem;
    left: 40rem; 
    width: 600px;
    height: 600px;
    background-color: #FFD7FD;
    align-items: center;
    flex-direction: column;
}

.record {
    margin-bottom: 2rem;
}

.botao {
    display: flex;
    background-color: #FDABFF;
    color: #FFFF;
    width: 400px;
    height: 60px;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
}

.item {
    width: 200px;
}

.image {
    margin-top: 35px;
    margin-bottom: 50px;
}
