body {
    position: absolute;
    top: 2rem;
    left: 40rem; 
    color: rgb(0, 0, 0);
}

.cabe {
    display: flex;
    width: 600px;
    height: 60px;
    background-color: #FF76FA;
    align-items: center;
    justify-content: space-around;
}

.recorde {
    width: 15px;
    height: 15px;
    background-color: yellow;
    margin-right: 3px;
}

.conjunto {
    display: flex;
    align-items: center;
}

.titulo {
    font-family: Arial, Helvetica, sans-serif;

}